<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Estadistica
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Número de PPM</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvasRealTime style="position: relative; height: 20vh; width: 40vh;"></canvas>
      </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Número de PPM</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas style="position: relative; height: 20vh; width: 40vh;"></canvas>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>